body{
	padding: 16px;
}
.header{
	min-height: 200px;
	position: relative;
	background-color: #607D8B;
}
.header > .info{
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #FFF;
	padding: 16px;
}
.header > .info > p{
	color: #CFD8DC;
	margin-bottom: 0;
}
.header > .info-extra{
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: #FFF;
	padding: 16px;
}
.navs{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 16px;
}
.navs a{
	text-decoration: none;
	padding: 8px;
	color: white;
	background: rgba(0,0,0,0);
}
.navs a.active{
	background: rgba(255,255,255,0.7);
}
.navs a:hover{
	text-decoration: none;
	background: rgba(255,255,255,0.7);
}

@media screen and (max-width: 768px) {
	.second-row > .col-md-3, .col-md-9{
		padding-right: 0px;
		padding-left: 0px;
	}
}
.content{
	padding: 16px;
	background-color: #fff;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50,50,50,.5);
}
.huge {
	font-size: 40px;
}
.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}