body{
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
textarea{resize: vertical;}
.paper-shadow-top-z-1 {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.paper-shadow-bottom-z-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-shadow-top-z-2 {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-2 {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.paper-shadow-top-z-3 {
	box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.paper-shadow-bottom-z-3 {
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.paper-shadow-top-z-4 {
	box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.paper-shadow-bottom-z-4 {
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

.paper-shadow-top-z-5 {
	box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.paper-shadow-bottom-z-5 {
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
.header{
	min-height: 150px;
	background-color: #5cb85c;
	color: white;
	padding: 16px 32px 16px 32px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	position: relative;
}
.header-info{
	position: absolute;
	bottom: 8px;
}
.navbar{
	top: 16px;
	right: 16px;
	position: absolute;
}
.navbar a{
	text-decoration: none;
	padding: 8px;
	color: white;
	background: rgba(0,0,0,0);
}
.navbar a:hover{
	text-decoration: none;
	background: rgba(255,255,255,0.7);
}
.rich button{
	text-decoration: none;
	padding: 8px;
	color: white;
	  background-color: #2196f3;
	  border: none;
}
.rich button:hover{
	text-decoration: none;
	background: rgba(255,255,255,0.7);
}
.rich textarea{
	border-radius: 0px 0px 4px 4px;
}
.header-info p.title{
	font-size: 32px;
}
.content{
	padding: 16px;
}
.header-category{
	min-height: 150px;
	margin-bottom: 8px;
	color: white;
	padding: 16px 32px 16px 32px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	position: relative;
}
.header-category-info{
	position: absolute;
	bottom: 8px;
}
.header-category-info a.title{
	font-size: 32px;
	color: white;
}
.content-topic-row{
	min-height: 70px;
	margin-bottom: 8px;
}
.content-topic-row .info{
	margin-left: 86px;
}
.content-topic-row img{
	float: left;
}
.content-topic-row .info a.title{
	font-size: 22px;
}
.content-topic-row .info p.desc{
}
.btn-rich{
	border: none;
	border-radius: 0px;
}
/* .container-sidebar{
	position: fixed;
	bottom: 16px;
	right: 16px;
} */
